
p {
	text-align: justify;
}
.btn{
	color:white;
	border-radius:5px;
}

.banner{
height:200px;
}
.wrapper{
margin:0 auto;
width:600px;	
}
.models{
	background-image: url(../img/latest-model.png);
	height: 350px;
	width: 100%;
	background-size: 100% 100%; 
}
@media(max-width: 750px){
	.models{
		height: auto;
	}

.load{
	margin-left: 35%;
}
}
.models h3{
	color:white;
}
.models img{
	border-radius: 9px;
border: 6px groove;
height: 200px;
}
figcaption{
	text-align: center;
	color: white;
}

/*-------------style of heading-------------*/
.row .twelve.columns .heading h1{
	margin-bottom:20px;
}
.row .twelve.columns .heading{
	margin:20px 0px 30px 0px;
	
}

.heading{
	margin:15px 0px 20px;
	border-bottom:1px dashed #999999;
}

/*-------------End style of heading-------------*/
.latest_model{
	margin-top:100px;	
	
}

/*************footer style**********************/
.footer{
	background-color:#CCCCCC;
	height:80px;
	margin-top:-10px;	
	width:97.4%;
	margin-left:2.67%;
	
}
/**************End styel of footer****************/
